* {
  margin: 0;
  padding: 0; }

body {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  background: linear-gradient(to right, rgba(94, 231, 223, 0.5), rgba(180, 144, 202, 0.5)); }

header {
  background: linear-gradient(to right, rgba(196, 113, 245, 0.5), rgba(250, 113, 205, 0.5)); }

article p {
  padding: 60px; }

.video__container {
  padding: 15px;
  margin-top: 7px;
  text-align: center; }

footer li {
  font-size: 1.4rem;
  display: block;
  padding: .5rem 1rem;
  text-decoration: none;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out; }

footer a {
  color: #f15c8e;
  text-decoration: none; }
  footer a:hover {
    color: #80003c; }

.navbar__collapse {
  flex-grow: initial; }

.navbar__nav-link {
  font-size: 1.4rem;
  display: block;
  padding: .5rem 1rem;
  color: #811212;
  text-decoration: none;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out; }
  .navbar__nav-link:hover {
    background-color: #ac4869; }

/*GALERIA*/
.galeria__container--img {
  width: 80%;
  height: auto;
  margin: 10px 20px;
  justify-content: space-around;
  border-radius: 4px;
  transition: transform 0.3s ease-in-out; }
  .galeria__container--img:hover {
    filter: opacity(0.9);
    transform: scale(1.04); }

@media only screen and (max-width: 480px) {
  /* para celular */
  .main,
  .main p,
  .right,
  .footer,
  .nav,
  .video__container,
  .imagenes__index__container,
  .article__container,
  .nav__container {
    width: 100%; } }

@media only screen and (max-width: 480px) {
  .article__container--2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; } }

@media screen and (max-width: 480px) {
  .main p {
    display: grid;
    align-content: center; } }

@media only screen and (max-width: 480px) {
  iframe {
    width: 100%; } }

.card {
  border-radius: 10px;
  overflow: hidden;
  background: #fff;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
  transition: all 400ms ease-out;
  cursor: default; }
  .card:hover {
    box-shadow: 5px 5px 20px rgba(132, 55, 134, 0.733);
    transform: translateY(-3%); }
  .card__card-body {
    padding: 15px;
    font-size: 18px;
    text-align: center; }

/* Mixins */
.titulo {
  text-align: center;
  text-decoration: underline;
  color: #e421a3;
  font-size: 40px;
  font-family: "Potta One"; }

.subtitulo {
  text-align: center;
  color: #f1266a; }

.parrafo {
  text-align: justify;
  color: #f15e8f;
  font-size: 25px; }

.contacto {
  text-align: left;
  color: #f15e8f;
  font-size: 20px; }

/* Mixins */
.botonEnviar {
  background-color: #830a32;
  color: pink; }

.botonLimpiar {
  background-color: #f15c8e;
  color: pink; }

.botonVer {
  background-color: #f15c8e;
  color: pink; }
