@import './base/mixins.scss';

.botonEnviar {
    @include boton(rgb(131, 10, 50), pink);
}

.botonLimpiar {
    @include boton(#f15c8e, pink);
    margin: 10px;
}

.botonVer {
    @include boton(#f15c8e, pink);
    font-size: 1.4rem;

}

.botonIndex {
    @include botonIndex(#f15c8e, pink);
    font-size: 1.4rem;
}