
.card {
    border-radius: 10px;
    overflow: hidden;
    background: #fff;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
    transition: all 400ms ease-out;
    cursor: default;
    &:hover{
        box-shadow: 5px 5px 20px rgba(132, 55, 134, 0.733);
        transform: translateY(-3%);
    }
    
    &__card-body{
        padding: 15px;
        text-align: center;
    }
   
}